:root {
  --black: #2e2d2d;
  --darker-grey: #5a5a5a;
  --dark-grey: #7e7e7e;
  --light-grey: #adadad;
  --off-white: #fdfdfd;
  --light-green: #68eda3;
}

html,
body {
  background: var(--black);
  color: var(--off-white);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
